.animation_container {
    white-space: pre-line;
    text-align: left;
    position: absolute;
    bottom: 140px;
    right: 60px;
    background: var(--grey2);
    padding: 10px 10px;
    border-radius: 10px;
}

/*@media (max-height: 700px) {
    .animation_container {
        bottom: 150px;
    }
}*/

@media (min-height: 700px) {
    .animation_container {
        bottom: 170px;
    }
}